apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    uid: victoria
    url: http://localhost:${VICTORIA_METRICS_PORT}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 5s
      httpMethod: POST

  - name: StateExporter
    type: prometheus
    access: proxy
    uid: state-exporter
    url: http://localhost:${STATE_EXPORTER_PORT}
    editable: false
    jsonData:
      timeInterval: 2s
      httpMethod: GET
